Repository bennycode/ig-trading-api: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx prettier --write --log-level error {staged_files}

lint:
  run: npx eslint --ignore-path .gitignore --ignore-pattern \"/docs/\" --no-error-on-unmatched-pattern {staged_files} --fix

chore: Lock dependencies for Dependabot
  .github/workflows/merge-dependencies.yml
Due: format

chore: Lock dependencies for Dependabot (#541)
  .github/auto-merge.yml
  .github/dependabot.yml
  .github/workflows/merge-dependencies.yml
  package.json
  yarn.lock
Due: format

Update LoginAPI
  src/login/LoginAPI.ts
Due: lint

Update .yarnrc
  .yarnrc
Due: none

Update LoginAPI.ts
  src/login/LoginAPI.ts
Due: lint

Update Test case
  src/login/LoginAPI.test.ts
Due: lint

Update to LoginAPI to remove creationSessionFromMobileLogin (#544)
  src/login/LoginAPI.test.ts
  src/login/LoginAPI.ts
Due: lint

docs: Updated changelog
  CHANGELOG.md
Due: format

0.13.7
  package.json
Due: format

Creation of the interfaces, types and methods to allow for Tick, Account and Trade light streamer subscriptions.
  src/account/AccountAPI.ts
  src/dealing/DealingAPI.ts
  src/lightstreamer/LightstreamerAPI.ts
  src/lightstreamer/interfaces.ts
  src/market/prices/PriceAPI.ts
Due: lint

Update
  src/account/AccountAPI.ts
  src/dealing/DealingAPI.ts
  src/lightstreamer/LightstreamerAPI.ts
  src/lightstreamer/interfaces.ts
  src/market/prices/PriceAPI.ts
Due: lint

Updated types and updated stream demo to test new methods.
  src/demo/stream.ts
  src/lightstreamer/LightstreamerAPI.ts
  src/lightstreamer/interfaces.ts
Due: lint

.
  src/demo/stream.ts
Due: lint

Updated lightstreamer and test cases.
  src/demo/stream.ts
Due: lint

Update Demo
  src/demo/stream.ts
Due: lint

Updates to lightstreamer tests
  src/lightstreamer/LightstreamerAPI.test.ts
  src/lightstreamer/LightstreamerAPI.ts
Due: lint

Fixed test case when null values.
  src/lightstreamer/LightstreamerAPI.ts
Due: lint

add some samples
  HOWTO.md
  README.md
Due: format

Update to Lightstreamer API to bring in Market price subscription and associated test cases.
  src/demo/stream.ts
  src/lightstreamer/LightstreamerAPI.test.ts
  src/lightstreamer/LightstreamerAPI.ts
  src/lightstreamer/interfaces.ts
  src/market/MarketAPI.ts
Due: lint

Update to Lightstreamer API to bring in Market price subscription and associated test cases. (#613)
  src/demo/stream.ts
  src/lightstreamer/LightstreamerAPI.test.ts
  src/lightstreamer/LightstreamerAPI.ts
  src/lightstreamer/interfaces.ts
  src/market/MarketAPI.ts
Due: lint

add code sample un README file
  README.md
Due: format

docs: add code samples (#614)
  README.md
Due: format

docs: Use IG API URLs from Google Cache
  README.md
  src/account/AccountAPI.ts
  src/dealing/DealingAPI.ts
  src/login/LoginAPI.ts
  src/market/MarketAPI.ts
  src/market/prices/PriceAPI.ts
Due: format, lint

docs: Use IG API URLs from Google Cache
  README.md
Due: format

docs: Use Microsoft epic code [ci skip]
  README.md
Due: format

docs: Refine live data example
  README.md
Due: format

0.13.8
  package.json
Due: format

Updates as per PR#623
  src/dealing/DealingAPI.test.ts
  src/dealing/DealingAPI.ts
Due: lint

Updates as per PR#623 (#624)
  src/dealing/DealingAPI.test.ts
  src/dealing/DealingAPI.ts
Due: lint

chore: fix vulnerable dependencies
  yarn.lock
Due: none

chore: Update dependencies
  package.json
  yarn.lock
Due: format

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yml}
  lint: any of: *.{js,jsx,ts,tsx}
